<html>
    <head>
{#        <script type="text/javascript" src="http://kozea.github.com/pygal.js/latest/pygal-tooltips.min.js"></script>#}
        <title>
            Query the Earthquake Data
        </title>
    </head>
    <body>
        <h1>
            Punit Bhupendra Bawal
        </h1>
		<h1>
			1001397222
		</h1>
        <div style="background-color:lightblue">
            <h3>Magnitude based Operations</h3>
            <p>
                <form action="/queryDB" method="post">
                    Enter the magnitude: <input type="text" name="mag">
                    Enter type of operation: <select name="oper">
                      <option value="<"><</option>
                      <option value=">">></option>
                      <option value="=">=</option>
                    </select>
                    Enter frequency: <input type="text" name="magfreq">
                    <input type="submit" name= "form" value="Submit" />
                    <input type="submit" name= "form" value="SubmitCache" />
                </form>
            </p>
        </div>
        <div style="background-color:lightblue">
            <h3>Location based Operations</h3>
            <p>
                <form action="/queryDB" method="post">
                    Enter the place: <input type="text" name="place">
                    Enter frequency: <input type="text" name="locfreq">
                    <input type="submit" name= "form" value="SubmitLoc" />
                    <input type="submit" name= "form" value="SubmitLocCache" />
                </form>
            </p>
        </div>
        <div style="background-color:lightblue">
            <h3>LatLong & Radius based Operations</h3>
            <p>
                <form action="/queryDB" method="post">
                    Enter Latitude: <input type="text" name="lat">
                    Enter Longitude: <input type="text" name="long">
                    Enter Radius: <input type="text" name="rad">
                    Enter frequency: <input type="text" name="latlongfreq">
                    <input type="submit" name= "form" value="SubmitRad" />
                    <input type="submit" name= "form" value="SubmitRadCache" />
                </form>
            </p>
        </div>
        <div style="background-color:lightblue">
            <h3>Between Magnitude Query</h3>
            <p>
                <form action="/queryDB" method="post">
                    Enter number of queries: <input type="text" name="qcount">
                    Start Magnitude: <input type="text" name="smag">
                    End Magnitude: <input type="text" name="emag">
                    <input type="submit" name= "form" value="Submit2" />
                    <input type="submit" name= "form" value="SubmitCache2" />
                </form>
            </p>
        </div>
        <div style="background-color:lightblue">
            <h3>Load Table</h3>
            <p>
                <form action="/queryDB" method="post">
                    <input type="submit" name= "form" value="LoadTable" />
                </form>
            </p>
        </div>
        <div style="background-color:lightblue">
            <h3>Flush Cache</h3>
            <p>
                <form action="/queryDB" method="post">
                    <input type="submit" name= "form" value="FlushCache" />
                </form>
            </p>
        </div>
        <div style="background-color:lightblue">
            <h3>Show population</h3>
            <p>
                <form action="/queryDB" method="post">
                    Enter 2 letter state: <input type="text" name="stateLetters">
                    Enter Year: <input type="text" name="year">
                    <input type="submit" name= "form" value="ShowPopulation" />
                </form>
            </p>
        </div>
        <div style="background-color:lightblue">
            <h3>Show County Count</h3>
            <p>
                <form action="/queryDB" method="post">
                    Enter 2 letter state: <input type="text" name="stateCode">
                    FREQ: <input type="text" name="freq1">
                    <input type="submit" name= "form" value="ShowCountyCount" />
                    <input type="submit" name= "form" value="ShowCountyCountCache" />
                </form>
            </p>
        </div>
        <div style="background-color:lightblue">
            <h3>Show State Names</h3>
            <p>
                <form action="/queryDB" method="post">
                    Enter Year: <input type="text" name="stateYear">
                    POP1: <input type="text" name="statepop1">
                    POP2: <input type="text" name="statepop2">
                    FREQ: <input type="text" name="freq2">
                    <input type="submit" name= "form" value="ShowState" />
                    <input type="submit" name= "form" value="ShowStateCache" />
                </form>
            </p>
        </div>
        <div style="background-color:lightcyan">
            <h3>Count of earthquake between magnitude range location-wise</h3>
            <p>
                <form action="/barchart" method="post">
                    Mag1: <input type="text" name="vmag1">
                    Mag2: <input type="text" name="vmag2">
                    <input type="submit" name= "form" value="ShowGraph" />
                </form>
            </p>
        </div>
        <div style="background-color:lightcyan">
            <h3>Scatter of earthquake between magnitude range location-wise</h3>
            <p>
                <form action="/barchart" method="post">
                    Mag1: <input type="text" name="vmag1">
                    Mag2: <input type="text" name="vmag2">
                    <input type="submit" name= "form" value="ShowGraph2" />
                </form>
            </p>
        </div>
        <div style="background-color:lightcyan">
            <h3>PieChart of earthquake between magnitude range location-wise</h3>
            <p>
                <form action="/barchart" method="post">
                    Mag1: <input type="text" name="vmag1">
                    Mag2: <input type="text" name="vmag2">
                    <input type="submit" name= "form" value="ShowGraph3" />
                </form>
            </p>
        </div>
        <div style="background-color:lightcyan">
            <h3>Show population distribution</h3>
            <p>
                <form action="/barchart" method="post">
                    Year: <input type="text" name="vyear">
                    <input type="submit" name= "form" value="ShowGraph4" />
                </form>
            </p>
        </div>
        <div style="background-color:lightcyan">
            <h3>Show population increase for state</h3>
            <p>
                <form action="/barchart" method="post">
                    State: <input type="text" name="vstate">
                    <input type="submit" name= "form" value="ShowGraph5" />
                </form>
            </p>
        </div>
        <div style="background-color:lightcyan">
            <h3>Show BLPercentage for a Country</h3>
            <p>
                <form action="/barchart" method="post">
                    CountryCode: <input type="text" name="vcountrycode">
                    <input type="submit" name= "form" value="ShowGraph6" />
                </form>
            </p>
        </div>
        <div style="background-color:lightcyan">
            <h3>Groupwise count</h3>
            <p>
                <form action="/barchart" method="post">
                    Year: <input type="text" name="q1year">
                    Range1: <input type="text" name="q1r11"> <input type="text" name="q1r12">
                    Range2: <input type="text" name="q1r21"> <input type="text" name="q1r22">
                    Range2: <input type="text" name="q1r31"> <input type="text" name="q1r32">
                    <input type="submit" name= "form" value="ShowGraph7" />
                </form>
            </p>
        </div>
        <div style="background-color:lightcyan">
            <h3>BLPerc</h3>
            <p>
                <form action="/barchart" method="post">
                    Code: <input type="text" name="q3code">
                    Range1: <input type="text" name="q3r11"> <input type="text" name="q3r12">
                    <input type="submit" name= "form" value="ShowGraph9" />
                </form>
            </p>
        </div>
        <div style="background-color:lightcyan">
            <h3>BLPerc</h3>
            <p>
                <form action="/barchart" method="post">
                    Year: <input type="text" name="q1year">
                    Step: <input type="text" name="q1r11">
                    <input type="submit" name= "form" value="ShowGraph10" />
                </form>
            </p>
        </div>
{#        <embed type="image/svg+xml" src= {{ chart|safe }} />#}
    </body>
</html>