<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Graph</title>
</head>

<body>
<div id="chartContainer">
    <script src="http://d3js.org/d3.v4.min.js"></script>
    <script src="http://dimplejs.org/dist/dimple.v2.3.0.min.js"></script>
    <script type="text/javascript">
        var svg = dimple.newSvg("#chartContainer", "100%", 580);
        var data = {{ a | tojson | safe }};
        console.log(data)
        if("{{ chartType }}" == "Bar"){
        var myChart = new dimple.chart(svg, data);
          myChart.setBounds(80, 30, 480, 330)
          var y = myChart.addMeasureAxis("y", "cnt");
          var x = myChart.addCategoryAxis("x", "locationsource");
          myChart.addSeries("Earthquake Count", dimple.plot.bar);
          myChart.addLegend(200, 10, 380, 20, "right");
          y.tickFormat = ',.0f';
          myChart.draw();}

        if ("{{ chartType }}" == "Pie"){
            var myChart = new dimple.chart(svg, data);
              myChart.setBounds(20, 20, 460, 360)
              var p = myChart.addMeasureAxis("p", "cnt");
              myChart.addSeries("locationsource", dimple.plot.pie);
              myChart.addLegend(500, 20, 90, 300, "left");
              p.tickFormat = ',.0f';
              myChart.draw();
        }

        if ("{{ chartType }}" == "Scatter"){
            var myChart = new dimple.chart(svg, data);
              myChart.setBounds(60, 30, 900, 500)
                var x = myChart.addMeasureAxis("x", "longitude");
                var y = myChart.addMeasureAxis("y", "latitude");
                myChart.addSeries(["id","mag", "locationsource"], dimple.plot.bubble);
                myChart.addLegend(200, 10, 360, 20, "right");
                x.overrideMax = 180.00000000;
                x.overrideMin = -180.00000000;
                y.overrideMax = 90.00000000;
                y.overrideMin = -90.00000000;
                x.ticks = 20;
                x.ticks = 20;
                x.tickFormat = ',.7f';
                y.tickFormat = ',.7f';
                myChart.draw();
        }
     </script>
</div>
</body>
</html>